version: '3.8'

services:
  server:
    build:
      context: .
      dockerfile: Dockerfile.server
    container_name: federated_server
    ports:
      - "8000:8000"
    environment:
      - PYTHONBUFFERED=1
    volumes:
      - ./experiments:/app/experiments
      - ./data:/app/data
    networks:
      - federated_network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/health"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s


  client_0:
    build:
      context: .
      dockefile: Dockerfile.client
    container_name: federated_client_0
    depends_on:
      server:
        condition: service_healthy
    environment:
      - SERVER_URL=http://server:8000
      - CLIENT_ID=0
      - NUM_CLIENTS=5
      - DEVICE=cpu
      - LOCAL_EPOCHS=2
      - BATCH_SIZE=64
      - LEARNING_RATE=0.01
      - NUM_ROUNDS=25
      - DIRICHLET_ALPHA=0.5
      - SEED=42
      - START_DELAY=0
      - PYTHONBUFFERED=1

    volumes:
      - ./data:/app/data
    networks:
      - federated_network
    restart: on-failure

  client_1:
    build:
      context: .
      dockefile: Dockerfile.client
    container_name: federated_client_1
    depends_on:
      server:
        condition: service_healthy
    environment:
      - SERVER_URL=http://server:8000
      - CLIENT_ID=0
      - NUM_CLIENTS=5
      - DEVICE=cpu
      - LOCAL_EPOCHS=2
      - BATCH_SIZE=64
      - LEARNING_RATE=0.01
      - NUM_ROUNDS=25
      - DIRICHLET_ALPHA=0.5
      - SEED=42
      - START_DELAY=0
      - PYTHONBUFFERED=1

    volumes:
      - ./data:/app/data
    networks:
      - federated_network
    restart: on-failure


networks:
  federated_network
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.0.0/16